<footer class="footer-light-medium">
    <div class="container is-desktop">
        <div class="footer-head">
            <div class="head-text">
                <h3>Ready to get started?</h3>
                <p>Create your free account now</p>
            </div>
            <div class="head-action">
                <div class="buttons">
                    <a href="https://1.envato.market/c/1288816/275988/4415?subId1=shop&subId2=banner&subId3=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffriendkit-social-media-ui-kit%2F24621825&u=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffriendkit-social-media-ui-kit%2F24621825" target="_blank" class="button is-solid primary-button raised action-button">Buy Now</a>
                    <a class="button chat-button">Chat with us</a>
                </div>
            </div>
        </div>
        <div class="columns footer-body">
            <!-- Column -->
            <div class="column is-4">
                <div class="pt-10 pb-10">
                    <img class="small-footer-logo" src="assets/img/logo/friendkit-bold.svg" alt="">
                    <div class="footer-description">
                        Friendkit is built for developers and designers. Everything is there to kickstart your next webapp UI.
                    </div>
                </div>
                <div>
                    <span class="moto">Designed and coded with <i data-feather="heart"></i> by CSS
                        Ninja.</span>
                    <div class="social-links">
                        <a href="#">
                            <span class="icon"><i data-feather="facebook"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i data-feather="twitter"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i data-feather="instagram"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i data-feather="linkedin"></i></span>
                        </a>
                        <a href="#">
                            <span class="icon"><i data-feather="youtube"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="column is-6 is-offset-2">
                <div class="columns">
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Friendkit
                            </li>
                            <li class="column-item"><a href="#">Home</a></li>
                            <li class="column-item"><a href="#">Membership</a></li>
                            <li class="column-item"><a href="#">Get started</a></li>
                            <li class="column-item"><a href="#">Help</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Help
                            </li>
                            <li class="column-item"><a href="#">Learning</a></li>
                            <li class="column-item"><a href="#">Support center</a></li>
                            <li class="column-item"><a href="#">Frequent questions</a></li>
                            <li class="column-item"><a href="#">Schedule a demo</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Terms
                            </li>
                            <li class="column-item"><a href="#">Terms of Service</a></li>
                            <li class="column-item"><a href="#">Privacy policy</a></li>
                            <li class="column-item"><a href="#">SaaS services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright has-text-centered">
            <p>&copy; 2019-2020 | <a href="https://cssninja.io">Css Ninja</a> | All Rights Reserved.</p>
        </div>
    </div>
</footer>