<div class="dashboard-aside">
  <a class="dashboard-aside-brand">
    <img
      class="logo light-image"
      src="assets/img/logo/friendkit-bold.svg"
      width="112"
      height="28"
      alt=""
    />
    <img
      class="logo dark-image"
      src="assets/img/logo/friendkit-white.svg"
      width="112"
      height="28"
      alt=""
    />
  </a>
  <div class="dashboard-aside-body">
    <a href="dashboard-home.html" class="dashboard-aside-link">
      <div>
        <i data-feather="home"></i>
        <span>Home</span>
      </div>
    </a>
    <a href="dashboard-posts.html" class="dashboard-aside-link">
      <div>
        <i data-feather="file"></i>
        <span>Posts</span>
      </div>
    </a>
    <a href="dashboard-videos.html" class="dashboard-aside-link">
      <div>
        <i data-feather="video"></i>
        <span>Videos</span>
      </div>
    </a>
    <a href="navbar-v1-settings-v1.html" class="dashboard-aside-link">
      <div>
        <i data-feather="settings"></i>
        <span>Settings</span>
      </div>
    </a>
  </div>
  <div class="dashboard-aside-end">
    <a href="navbar-v1-profile-main.html" class="dashboard-aside-link">
      <img
        class="link-avatar"
        src="https://via.placeholder.com/400x400"
        data-demo-src="assets/img/avatars/jenna.png"
        alt=""
      />
    </a>
  </div>
</div>
