<div class="navbar navbar-v1 is-inline-flex is-transparent no-shadow no-background is-landing is-hidden-mobile">
    <div class="container is-desktop">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img class="logo" src="../../assets/img/logo/PCIES.png" alt="">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <a href="#">Create an account to get started</a>
                </div>

            </div>

            <div class="navbar-end">

                <div class="navbar-item">
                    <div class="navbar-item">
                        <a href="/login.html">Login</a>
                    </div>
                    <a id="signup-button" href="/signup-v2.html" class="button is-cta is-solid primary-button raised">
                        Sign Up
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>