<div class="toolbar-v1 is-narrow">
    <!-- Sidebar Trigger -->
    <div class="friendkit-hamburger sidebar-v1-trigger">
        <span class="menu-toggle has-chevron">
            <span class="icon-box-toggle">
                <span class="rotate">
                    <i class="icon-line-top"></i>
                    <i class="icon-line-center"></i>
                    <i class="icon-line-bottom"></i>
                </span>
            </span>
        </span>
    </div>
    <h1>Timeline</h1>
    <div class="controls">
        {{> friend-requests-dropdown-right}}
        {{> notifications-dropdown-right}}
        {{> messages-dropdown-right}}
        {{> cart-dropdown}}
        {{> account-dropdown}}
    </div>
</div>