<div class="tips-sidebar">
    <div class="tips-sidebar-inner has-slimscroll">

        <!--Tip group-->
        <div id="general-tips" class="tip-group is-active">
            <!--Tip-->
            <div class="tip-card">
                general group
            </div>
        </div>

        <!--Tip group-->
        <div id="security-tips" class="tip-group">
            <!--Tip-->
            <div class="tip-card">
                security group
            </div>
        </div>

        <!--Tip group-->
        <div id="personal-tips" class="tip-group">
            <!--Tip-->
            <div class="tip-card">
                personal group
            </div>
        </div>

    </div>
</div>